name: MSYS2 build (MinGW-w64)

on:
  pull_request:
  push:
    paths-ignore:
      - '.github/workflows/coverage.yml'
      - '.github/workflows/linux-build.yml'
      - '.github/workflows/macos-build.yml'
      - '.github/workflows/windows-build.yml'
      - '.gitignore'
      - 'LICENSE'
      - 'CHANGELOG.md'
      - 'README.md'

jobs:
  build:
    strategy:
      matrix:
        msystem: [mingw64]
        os: [windows-latest]
        arch: [x86_64]
        mode: [debug, release]
        kind: [static, shared]

    runs-on: ${{ matrix.os }}
    if: "!contains(github.event.head_commit.message, 'ci skip')"

    defaults:
      run:
        shell: msys2 {0}

    steps:
    - name: Get current date as package key
      id: pkg_key
      shell: bash
      run: echo "::set-output name=key::$(date +'%W')"

    - name: Avoid line ending issues on Windows
      shell: bash
      run: git config --global core.autocrlf false

    - name: Checkout repository
      uses: actions/checkout@v3

    # Setup MSYS2
    - uses: msys2/setup-msys2@v2
      with:
        msystem: ${{ matrix.msystem }}
        install: base-devel git unzip p7zip mingw-w64-${{ matrix.arch }}-toolchain
        update: true

    # Force xmake to a specific folder (for cache)
    - name: Set xmake env
      run: echo "XMAKE_GLOBALDIR=${{ runner.workspace }}/xmake-global" >> $GITHUB_ENV

    # Cache xmake build
    - name: Retrieve cached xmake build
      uses: actions/cache@v3
      id: xmake_cache
      with:
        path: ${{ github.workspace }}/xmake_git
        key: MinGW-XMake-W${{ steps.pkg_key.outputs.key }}

    # Build xmake
    - name: Setup xmake
      if: steps.xmake_cache.outputs.cache-hit != 'true'
      run: |
        git clone https://github.com/xmake-io/xmake.git --recurse-submodules -b dev xmake_git
        cd xmake_git
        make build

    # Install xmake
    - name: Install xmake
      run: |
        cd xmake_git
        make install PREFIX=/${{ matrix.msystem }}
        xmake --version

    # Update xmake repository (in order to have the file that will be cached)
    - name: Update xmake repository
      run: xmake repo --update

    # Fetch xmake dephash
    - name: Retrieve dependencies hash
      id: dep_hash
      run: echo "::set-output name=hash::$(xmake l utils.ci.packageskey)"
  
    # Cache xmake dependencies
    - name: Retrieve cached xmake dependencies
      uses: actions/cache@v3
      with:
        path: ${{ env.XMAKE_GLOBALDIR }}/.xmake/packages
        key: MinGW-${{ matrix.arch }}-${{ matrix.mode }}-${{ steps.dep_hash.outputs.hash }}-W${{ steps.pkg_key.outputs.key }}

    # Setup compilation mode and install project dependencies
    - name: Configure xmake and install dependencies
      run: xmake config --arch=${{ matrix.arch }} --mode=${{ matrix.mode }} --kind=${{ matrix.kind }} --ccache=n --examples=y --tests=y --unitybuild=y --yes --verbose --debug

    # Build library and tests
    - name: Build library
      run: xmake

    # Run unit tests
    - name: Run unit tests
      run: xmake run UnitTests

    # Install the result files
    - name: Install NZSL
      run: xmake install -vo package

    # Upload artifacts
    - uses: actions/upload-artifact@v3
      with:
        name: ${{ matrix.os }}-${{ matrix.arch }}-${{ matrix.kind }}-${{ matrix.mode }}
        path: package
